{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.default.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <nav>
                        <ul class="d-flex justify-content-end align-items-center">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="col-1"><a href="/profil">{{ app.user.username }}</a></li>
                                <li class="col-1"><a href="/logout">Logout</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </header>
                <h1>{{ 'pages.default.h1'|trans }}</h1>  
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div id="allgames"></div>
                {% else %}
                    <nav>
                        <ul><a href="/login">Login</a></ul>
                        <ul><a href="/register">Register</a></ul>
                    </nav>    
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
